
@{
    ViewBag.Title = "Index";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <div class="breadcrumb flat">
                <a href="~/Home/Index">Trang chủ</a>
                <a href="javascript:location.reload();" class="active">Quản trị tài khoản</a>
            </div>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Tìm</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quản trị tài khoản <small>Người đùng</small></h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled timeline">
                        <li>
                            <div class="block">
                                <div class="tags">
                                    <a href="../Authorization/UserApproval" class="tag">
                                        <span>Phê duyệt người dùng</span>
                                    </a>
                                </div>
                                <div class="block_content">
                                    <h2 class="title">
                                        <a>Nhấn vào đây để phê duyệt, xóa người dùng...</a>
                                    </h2>
                                    <div class="byline">
                                        <span>13 hạng mục</span> đã thêm bởi <a>Nguyễn Thành Nam</a>
                                    </div>
                                    <p class="excerpt">
                                        Nhà máy là phạm vi bao quát rộng nhất… <a>Xem thêm</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <div class="tags">
                                    <a href="../Authorization/UserManagement" class="tag">
                                        <span>Quản lý người dùng</span>
                                    </a>
                                </div>
                                <div class="block_content">
                                    <h2 class="title">
                                        <a>Nhấn vào đây để quản lý người dùng...</a>
                                    </h2>
                                    <div class="byline">
                                        <span>13 hạng mục</span> đã thêm bởi <a>Nguyễn Thành Nam</a>
                                    </div>
                                    <p class="excerpt">
                                        Nhà máy là phạm vi bao quát rộng nhất… <a>Xem thêm</a>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="block">
                                <div class="tags">
                                    <a href="../Authorization/RoleActionManagement" class="tag">
                                        <span>Phân quyền</span>
                                    </a>
                                </div>
                                <div class="block_content">
                                    <h2 class="title">
                                        <a>Nhấn vào đây để quản lý phân quyền, vai trò trên trang...</a>
                                    </h2>
                                    <div class="byline">
                                        <span>13 hạng mục</span> đã thêm bởi <a>Nguyễn Thành Nam</a>
                                    </div>
                                    <p class="excerpt">
                                        Nhà máy là phạm vi bao quát rộng nhất… <a>Xem thêm</a>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="block">
                                <div class="tags">
                                    <a href="../Authorization/ActionHistories" class="tag">
                                        <span>Lịch sử hoạt động</span>
                                    </a>
                                </div>
                                <div class="block_content">
                                    <h2 class="title">
                                        <a>Nhấn vào đây để xem tất cả hoạt động trên trang...</a>
                                    </h2>
                                    <div class="byline">
                                        <span>13 hạng mục</span> đã thêm bởi <a>Nguyễn Thành Nam</a>
                                    </div>
                                    <p class="excerpt">
                                        Nhà máy là phạm vi bao quát rộng nhất… <a>Xem thêm</a>
                                    </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>